.detail {
  .hd {
    width: 7.5rem;
    height: 3.6rem;
    .content {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }
  .bd {
    .list {
      width: 7.5rem;
      height: 1.44rem;
      border-bottom: 1px solid #ddd;
      .row {
        height: 1.44rem;
        .left {

        }
        .right {

        }
      }
    }
  }

}
