.detail {
  .hd {
    width: 7.5rem;
    height: 3.6rem;
    .content {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }
  .bd {
    .list {
      width: 7.5rem;
      height: 1.44rem;
      border-bottom: 1px solid #ddd;
      .row {
        height: 1.44rem;
        .left {

        }
        .right {
          .button {
            width: 1.2rem;
            height: .6rem;
            border: 1px solid rgb(221, 69, 114);
            color: rgb(50, 50, 50);
            &.active {
              border: 1px solid rgb(195, 217, 246);
              color: rgb(29, 123, 35);
            }
          }
        }
      }
      &:active{
        background: #ddd;
      }
    }
  }
}
