* {
  box-sizing: border-box;
  font-size: .24rem;
}

body {
  background: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
textarea,
button {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  user-select: none;
}

figure {
  margin: 0;
  padding: 0;
}

.am-list-body {
  &:before {
    display: none !important;
  }
}

.am-modal-footer {
  > .am-modal-button-group-h {
    > .am-modal-button {
      color: #99C72C;
      font-size: .28rem;
      &:first-child{
        color: #99C72C;
        font-size: .28rem;
      }
    }
  }

}

a {
  color: transparent;
  text-decoration: none;
}
