.list {

  .hd {

  }
  .bd {
    margin-top: .5rem;
    margin-bottom: .5rem;
    .left {
      width: 1rem;
      &-avatar {
        width: .76rem;
        height: .76rem;
        border-radius: .1rem;
        background: rgb(233, 233, 233);
      }
    }
    .center {
      .name {
        font-weight: 700;
      }
    }
    .right {
      .sign {
        width: 1.46rem;
        background: rgb(101, 151, 201);
        color: #fff;
        display: inline-block;
        padding: .2rem;
      }
    }
  }
}
