#login {
  width: 5rem;
  margin: 1rem auto;
  font-size: 12px;
  input {
    height: .88rem;
    line-height: .88rem;
  }
  .i-list{
    border-bottom: 1px solid #ddd;

  }
  .username {

  }
  .password {

  }

}
